/* Links to more pages */
.ccomment-form-navlink {
    margin-right: 10px;
}

/* Pins for comments and page */
.ccomment-form-pagepinned-wrap,
.ccomment-comments-subscribed-wrap,
.ccomment-post-pinned-wrap {
    float:right;
}

.ccomment-comments-count {
    float:left;
}

/* Comments form */
.ccomment-form-top {
    margin-bottom : 10px;
}

.fullwidth {
    width : 95%;
}

.ccomment-form-action-buttons {
    text-align: right;
}

/* Form controls for comments and replies */
.block_socialcomments .btn.ccomment-highlight-button {
    background: red;
}

.block_socialcomments .btn {
    background: #666;
    color: #fff;
    text-shadow: none;
}

.ccomment-highlight {
    background: #F5A500;
    color:white;
}

/* Comments */
.ccomment-post-wrap {
    list-style: none;
    margin-left:0px;
}

.ccomment-post {
    background: #eee;
    padding: 5px;
    margin-top: 10px;
}

/* Content of a comment or reply */
#ccomment-comments-content-top {
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    color: #999;
}

.ccomment-post-userpicture .userpicture,
.block .content .ccomment-post-userpicture .userpicture {
    width : 35px;
    height: 35px;
    float: left;
    margin-right: 6px;
}

.ccomment-post-fullname {
    font-weight: bold;
}

.ccomment-post-timeposted {
    color: #999;
}

/* paging bar */
.ccomment-paging-bar {
    text-align: center;
}

.ccomment-pagingbar-pagelink, .ccomment-pagingbar-curpagelink {
    margin: 5px 0;
    padding: 5px;
}

.ccomment-pagingbar-curpagelink {
    border:1px solid #ccc;
    background: #fff;
}

/* Action menu for comments and replies */
.jsenabled .ccomment-post-header .moodle-actionmenu[data-enhance] {
    float: right;
}

.jsenabled .ccomment-post-header .moodle-actionmenu.show .menu::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
    top: -7px;
    right: 9px;
}

.jsenabled .ccomment-post-header .moodle-actionmenu.show .menu::after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -6px;
    right: 9px;
}

.jsenabled .ccomment-post-header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    display: none
}

.ccomment-post-header .moodle-actionmenu.show[data-enhanced] .menu a {
    outline: none;
    text-decoration: none;
    padding: 2px 1em 2px 1em;
    text-align: center
}

/* Style checkbox as a togge switch */
.cc-switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 22px;
}

.cc-switch input {
    display: none;
}

.cc-switch-label {
    text-align:center;
    color: #666666;
}

.cc-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CB2322;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 22px;
}

/* slider button */
.cc-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.cc-switch input:checked + .slider {
    background-color: #89B833;
}

.cc-switch input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
}

.cc-switch .labelyes, .cc-switch .labelno {
    position: absolute;
    height: 22px;
    line-height: 22px;
    color: white;
    text-align: center;
}

.cc-switch .labelyes {
    left: 5px;
    right: 25px;
}

.cc-switch .labelno {
    right: 5px;
    left : 25px;
}

.cc-switch input + .slider .labelyes {
    display: none
}

.cc-switch input:checked + .slider .labelyes {
    display: block;
}

.cc-switch input:checked + .slider .labelno {
    display: none
}

/* Comments reply link and pin */
.comments-post-footer a,
.comments-post-footer a:visited {
    color: #666666;
}
.ccomment-post-pinned-wrap input:checked + label,
.ccomment-form-pagepinned-wrap input:checked + label,
.ccomment-post-pinned-wrap input[type="checkbox"] + label,
.ccomment-form-pagepinned-wrap input[type="checkbox"] + label {
    display:block;
    width: 22px;
    height: 17px;
    padding:0;
    color: transparent;
}

.ccomment-post-pinned-wrap input:checked + label,
.ccomment-form-pagepinned-wrap input:checked + label{
    background-image: url([[pix:block_socialcomments|commentpinned]]);
}

.ccomment-post-pinned-wrap input + label,
.ccomment-form-pagepinned-wrap input + label{
    background-image: url([[pix:block_socialcomments|commentunpinned]]);
}

.ccomment-post-pinned-wrap input,
.ccomment-form-pagepinned-wrap input {
    display:none;
}

/* Replies */
.ccomment-reply-list {
    list-style:none;
    margin: 0 0 15px 15px;
}

.ccomment-reply-wrap {
    display:block;
    position:relative;
    margin-top: 10px;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Style speech bubble */
#ccomment-replyform .form-control {
    position:relative;
    display:block;
    margin-top: 10px;
}

.ccomment-reply-wrap::before,
#ccomment-replyform .form-control::before {
    content: '';
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    position:absolute;
    left: 13px;
    top: -8px;
}

.ccomment-reply-wrap::after,
#ccomment-replyform .form-control::after {
    content: '';
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #fff;
    position:absolute;
    left: 13px;
    top: -7px;
}

/* Exclude from speech bubble style, when editing */
.ccomment-reply-wrap #ccomment-replyform .form-control {
    position: static;
}

/* Special tooltip */
.cctooltip {
    position: relative;
}

.cctooltip:hover {text-decoration:none;}
.cctooltip > span {
    z-index:10;display:none; padding:1px 3px;
    line-height:16px;
    border-radius:4px;
    position:absolute;
    top:-26px;
    font-size: 0.8em;
    background:#BED6E3;
    white-space:nowrap;
}
.cctooltip:hover > span {
    display:block;
}

.ccomment-form-navlink-wrap {
    float:left;
    margin-top: 10px;
}

.ccomments-courseselect .jumpmenu div,
.ccomments-courseselect .jumpmenu,
.ccomments-courseselect form {
    display :inline;
}

.ccomments-courseselect select {
    margin: 0px;
}

.ccomments-courseselect span {
    margin-right: 5px;
}

.ccomments-courseselect {
    padding: 10px;
    background: #efefef;
}

.ccomments-no-pins .ccomment-form-pagepinned-wrap,
.ccomments-no-pins .ccomment-post-pinned-wrap {
    display:none;
}

.ccomments-pin-tooltip {
    position:absolute;
    margin-top: -45px;
    margin-left: -10px;
    background: #CAD8B1;
    border-radius:4px;
    padding: 0 2px;
}

.ccomment-post-pinned-wrap div.ccomments-pin-tooltip,
.ccomment-form-pagepinned-wrap div.ccomments-pin-tooltip {
    display:none;
}

.ccomment-post-pinned-wrap:hover div.ccomments-pin-tooltip,
.ccomment-form-pagepinned-wrap:hover div.ccomments-pin-tooltip {
    display:block;
}