/* Links to more pages */
.block_socialcomments .ccomment-form-navlink {
    margin-right: 2px;
}

/* Pins for comments and page */
.block_socialcomments .ccomment-form-pagepinned-wrap,
.block_socialcomments .ccomment-post-pinned-wrap {
    float: right;
    position: relative;
}

.block_socialcomments .ccomment-comments-subscribed-wrap .cc-switch-label {
    float: left;
}

.block_socialcomments .ccomment-comments-subscribed-wrap .cc-switch {
    float: right;
}

.block_socialcomments .ccomment-comments-count {
    display: none;
}

.block_socialcomments .ccomment-form-textarea-wrap {
    position: relative;
}

/* Comments form */
.block_socialcomments .fullwidth {
    width: 100%;
}

.block_socialcomments .ccomment-form-action-buttons {
    text-align: right;
    margin-bottom: 1rem;
}

.block_socialcomments #ccomment-form-action-cancel,
.block_socialcomments #ccomment-form-action-post {
    padding: 0 .75rem;
}


.block_socialcomments .ccomment-highlight {
    background: #f5a500;
    color: white;
}

/* Comments */
.block_socialcomments .ccomment-post-wrap {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.block_socialcomments .ccomment-form-top {
    margin-bottom: 5px;
    margin-top: -10px;
}

.block_socialcomments .ccomment-post {
    background: #f0f1f2;
    padding: 5px;
    margin-top: 10px;
    border-radius: 0.5rem;
}

.block_socialcomments .ccomment-reply-wrap:hover,
.block_socialcomments .ccomment-post:hover {
    box-shadow: 2px 2px 4px 0 #ccc;
}

.block_socialcomments .ccomment-post-content {
    line-height: 1.3;
}

/* Content of a comment or reply */
/*
#ccomment-comments-content-top {
    margin: 10px 0;
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
}
*/

.block_socialcomments .ccomment-post-header > div {
    float: left;
}

.block_socialcomments .ccomment-post-userpicture .userpicture,
.block.block_socialcomments .content .ccomment-post-userpicture .userpicture {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 4px;
}

.block_socialcomments .ccomment-post-fullname {
    font-weight: bold;
    text-overflow: ellipsis;
    display: block;
    width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.1;
}

/* paging bar */
.block_socialcomments .ccomment-paging-bar {
    text-align: center;
}

.block_socialcomments .ccomment-pagingbar-pagelink,
.block_socialcomments .ccomment-pagingbar-curpagelink {
    margin: 2px 0;
    padding: 2px 5px;
}

.block_socialcomments .ccomment-pagingbar-pagelink:hover,
.block_socialcomments .ccomment-pagingbar-curpagelink:hover {
    text-decoration: none;
    color: #fff;
    background: #000;
}

.block_socialcomments .ccomment-pagingbar-curpagelink {
    background: #dee2e6;
}

/* Action menu for comments and replies */
.jsenabled .block_socialcomments .ccomment-post-header .moodle-actionmenu[data-enhance] {
    float: right;
}

.jsenabled .block_socialcomments .ccomment-post-header .moodle-actionmenu.show .menu::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: -7px;
    right: 9px;
}

.jsenabled .block_socialcomments .ccomment-post-header .moodle-actionmenu.show .menu::after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -6px;
    right: 9px;
}

.jsenabled .block_socialcomments .ccomment-post-header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    display: none;
}

.block_socialcomments .ccomment-post-header .moodle-actionmenu.show[data-enhanced] .menu a {
    outline: none;
    text-decoration: none;
    padding: 2px 1em 2px 1em;
    text-align: center;
}

/* Style checkbox as a togge switch */
.block_socialcomments .cc-switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 22px;
}

.block_socialcomments .cc-switch input {
    display: none;
}


.block_socialcomments .cc-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 22px;
}

/* slider button */
.block_socialcomments .cc-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.block_socialcomments .cc-switch input:checked + .slider {
    background-color: #89b833;
}

.block_socialcomments .cc-switch input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
}

.block_socialcomments .cc-switch .labelyes,
.block_socialcomments .cc-switch .labelno {
    position: absolute;
    height: 22px;
    line-height: 22px;
    color: white;
    text-align: center;
}

.block_socialcomments .cc-switch .labelyes {
    left: 5px;
    right: 25px;
}

.block_socialcomments .cc-switch .labelno {
    right: 5px;
    left: 25px;
}

.block_socialcomments .cc-switch input + .slider .labelyes {
    display: none;
}

.block_socialcomments .cc-switch input:checked + .slider .labelyes {
    display: block;
}

.block_socialcomments .cc-switch input:checked + .slider .labelno {
    display: none;
}

/* Comments reply link and pin */
.block_socialcomments .comments-post-footer a,
.block_socialcomments .comments-post-footer a:visited {
    color: #666;
}
.block_socialcomments .ccomment-post-pinned-wrap input:checked + label,
.block_socialcomments .ccomment-form-pagepinned-wrap input:checked + label,
.block_socialcomments .ccomment-post-pinned-wrap input[type="checkbox"] + label,
.block_socialcomments .ccomment-form-pagepinned-wrap input[type="checkbox"] + label {
    display: block;
    width: 22px;
    height: 17px;
    padding: 0;
    color: transparent;
    margin-bottom: 0;
}

.block_socialcomments .ccomment-post-pinned-wrap input:checked + label,
.block_socialcomments .ccomment-form-pagepinned-wrap input:checked + label {
    background-image: url([[pix:block_socialcomments|commentpinned]]);
}

.block_socialcomments .ccomment-post-pinned-wrap input + label,
.block_socialcomments .ccomment-form-pagepinned-wrap input + label {
    background-image: url([[pix:block_socialcomments|commentunpinned]]);
}

.block_socialcomments .ccomment-post-pinned-wrap input,
.block_socialcomments .ccomment-form-pagepinned-wrap input {
    display: none;
}

/* Replies */
.block_socialcomments .ccomment-reply-list {
    list-style: none;
    margin: 0 0 5px 0;
    padding-left: 1rem;
}

.block_socialcomments .ccomment-reply-wrap {
    display: block;
    position: relative;
    margin-top: 8px;
    background: #f0f1f2;
    padding: 5px;
    border: 1px solid #f0f1f2;
    border-radius: 0.5rem;
}

.sc-block {
    min-height: 4rem;
    display: block;
    width: 100%;
}

/* Style speech bubble */
#ccomment-replyform .form-control {
    position: relative;
    display: block;
    margin-top: 10px;
}

.block_socialcomments .ccomment-reply-wrap::before,
#ccomment-replyform .form-control::before {
    content: '';
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid #f0f1f2;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: -25px;
    top: 12px;
}

/* Exclude from speech bubble style, when editing */
.block_socialcomments .ccomment-reply-wrap #ccomment-replyform .form-control {
    position: static;
}

/* Special tooltip */
.block_socialcomments .cctooltip {
    position: relative;
}

.block_socialcomments .cctooltip:hover {
    text-decoration: none;
}
.block_socialcomments .cctooltip > span {
    z-index: 10;
    display: none;
    padding: 1px 3px;
    line-height: 16px;
    border-radius: 4px;
    position: absolute;
    top: -26px;
    font-size: 0.8em;
    background: #bed6e3;
    white-space: nowrap;
}
.block_socialcomments .cctooltip:hover > span {
    display: block;
}

.block_socialcomments .ccomment-form-navlink-wrap {
    float: left;
}

.block_socialcomments .ccomments-courseselect .jumpmenu div,
.block_socialcomments .ccomments-courseselect .jumpmenu,
.block_socialcomments .ccomments-courseselect form {
    display: inline;
}

.block_socialcomments .ccomments-courseselect select {
    margin: 0;
}

.block_socialcomments .ccomments-courseselect span {
    margin-right: 5px;
}

.block_socialcomments .ccomments-courseselect {
    padding: 10px;
    background: #efefef;
}

.block_socialcomments .ccomments-no-pins .ccomment-form-pagepinned-wrap,
.block_socialcomments .ccomments-no-pins .ccomment-post-pinned-wrap {
    display: none;
}

.block_socialcomments .ccomments-pin-tooltip {
    z-index: 10;
    display: none;
    padding: 1px 3px;
    line-height: 16px;
    border-radius: 4px;
    position: absolute;
    top: -26px;
    right: -12px;
    font-size: 0.8em;
    background: #bed6e3;
    white-space: nowrap;
}

.block_socialcomments .ccomment-post-pinned-wrap div.ccomments-pin-tooltip,
.block_socialcomments .ccomment-form-pagepinned-wrap div.ccomments-pin-tooltip {
    display: none;
}

.block_socialcomments .ccomment-post-pinned-wrap:hover div.ccomments-pin-tooltip,
.block_socialcomments .ccomment-form-pagepinned-wrap:hover div.ccomments-pin-tooltip {
    display: block;
}


.block_socialcomments div#ccomment-form-content img.icon {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.block_socialcomments div.ccomment-commentspage img.icon {
    width: auto;
}

/* Comments report */
.path-blocks-socialcomments #page-content .ccomment-post-wrap {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2rem;
}

.path-blocks-socialcomments #page-content .ccomment-post {
    background: #f0f1f2;
    padding: 15px;
    margin-top: 1rem;
    border-radius: 0.5rem;
}


.path-blocks-socialcomments #page-content .ccomment-post-header > div {
    float: left;
}

.path-blocks-socialcomments #page-content .ccomment-post-header .ccomment-post-userpicture {
    width: 50px;
}

.path-blocks-socialcomments #page-content .ccomment-post-header .ccomment-post-timeposted,
.path-blocks-socialcomments #page-content .ccomment-post-header .ccomment-post-fullname {
    width: calc(100% - 50px);
}

.path-blocks-socialcomments #page-content .ccomment-post-header .ccomment-post-fullname {
    font-weight: bold;
}

.path-blocks-socialcomments #page-content .ccomment-post-content {
    margin-left: 50px;
}

.path-blocks-socialcomments #page-content .ccomment-reply-list {
    list-style: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.path-blocks-socialcomments #page-content .ccomment-reply-wrap {
    background: #f0f1f2;
    padding: 15px;
    margin-top: 10px;
    border-radius: 0.5rem;
    position: relative;
}

.path-blocks-socialcomments #page-content h3 {
    clear: both;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.path-blocks-socialcomments #page-content .ccomments-courseselect {
    margin-bottom: 1rem;
}

.path-blocks-socialcomments #page-content .ccomments-courseselect .jumpmenu div,
.path-blocks-socialcomments #page-content .ccomments-courseselect .jumpmenu,
.path-blocks-socialcomments #page-content .ccomments-courseselect form {
    display: inline;
}

.path-blocks-socialcomments #page-content .activity a {
    margin-top: 2rem;
    padding: 15px;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 100%;
    display: block;
}

.path-blocks-socialcomments #page-content .activity a img {
    margin-right: 1rem;
}


.path-blocks-socialcomments #page-content .ccomment-reply-wrap::before {
    content: '';
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid #f0f1f2;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: -24px;
    top: 12px;
}